<%= form_with(model: veterinarian, local: true) do |form| %>
  <% if veterinarian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veterinarian.errors.count, "error") %> prohibited this veterinarian from being saved:</h2>

      <ul>
      <% veterinarian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :veterinarian_full_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :veterinarian_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :veterinarian_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
