<% content_for :breadcrumbs do %>
  <h3 class="top-bar__title"><%= Veterinarian.model_name.human(count: 2) %></h3>
<% end %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= Veterinarian.human_attribute_name(:full_name) %></th>
      <th><%= Veterinarian.human_attribute_name(:phone) %></th>
      <th><%= Veterinarian.human_attribute_name(:email) %></th>
    </tr>
  </thead>

  <tbody>
    <% @veterinarians.each do |veterinarian| %>
      <tr>
        <td><%= link_to veterinarian.full_name, veterinarian %></td>
        <td><%= veterinarian.phone %></td>
        <td><%= veterinarian.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_resource, scope: [:common], resource: Veterinarian.model_name.human), new_veterinarian_path %>
