<% content_for :breadcrumbs do %>
  <h3 class="breadcrumbs__item breadcrumbs__item--active"><%= Veterinarian.model_name.human(count: 2) %></h3>
<% end %>

<div class="veterinarians collection">
  <% @veterinarians.each do |veterinarian| %>
    <div class="veterinarian collection__item">
      <div class="collection__item-area1">
        <div class="full-name"><%= veterinarian.full_name %></div>
        <div class="phone"><%= veterinarian.phone %></div>
        <div class="email"><%= veterinarian.email %></div>
      </div>

      <div class="collection__item-area2">
        <div class="veterinaries">
          <% veterinarian.veterinaries.each do |veterinary| %>
            <div class="veterinary"><%= veterinary.name %></div>
          <% end %>
        </div>
      </div>

      <div class="collection__item-area4">
        <%= link_to :arrow_forward, veterinarian_path(veterinarian), class: 'icon show collection__item-link' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to tag.i(:person_add, class: :icon), new_veterinarian_path, { class: 'btn btn__floating', title: t(:new_resource, scope: [:common], resource: Veterinarian.model_name.human) } %>
