<% content_for :breadcrumbs do %>
  <%= link_to Veterinarian.model_name.human(count: 2), veterinarians_path, { class: 'breadcrumbs__item' } %>
  <i class="breadcrumbs__separator icon">chevron_right</i>
  <h3 class="breadcrumbs__item"><%= @veterinarian.full_name %></h3>
<% end %>

<div class="card">
  <div class="card__item">
    <label class="card__label"><%= Veterinarian.human_attribute_name(:full_name) %></label>
    <%= @veterinarian.full_name %>
  </div>

  <div class="card__item">
    <label class="card__label"><%= Veterinarian.human_attribute_name(:phone) %></label>
    <%= @veterinarian.phone %>
  </div>

  <div class="card__item">
    <label class="card__label"><%= Veterinarian.human_attribute_name(:email) %></label>
    <%= @veterinarian.email %>
  </div>

  <div class="card__item">
    <label class="card__label"><%= Veterinarian.human_attribute_name(:veterinaries) %></label>
    <%= @veterinarian.veterinaries.map{|v| link_to v.name, v}.join(', ').html_safe %>
  </div>

</div>

<%= link_to tag.i(:mode_edit, class: :icon), edit_veterinarian_path(@veterinarian), { class: 'btn btn__floating', title: t(:edit_resource, scope: [:common], resource: Veterinarian.model_name.human) } %>


