<%= form_with(model: veterinary, local: true) do |form| %>
  <% if veterinary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veterinary.errors.count, "error") %> prohibited this veterinary from being saved:</h2>

      <ul>
      <% veterinary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :veterinary_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :veterinary_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :veterinary_email %>
  </div>

  <div class="field">
    <%= form.label :veterinarians %>
    <%= collection_select(:veterinarians, :veterinarian_ids,
      Veterinarian.all, :id, :full_name,
      {selected: veterinary.veterinarians.map(&:id)},
      {id: :veterinary_veterinarians, multiple: true, size: 5}) %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
