<% content_for :breadcrumbs do %>
  <h3 class="breadcrumbs__item breadcrumbs__item--active"><%= Veterinary.model_name.human(count: 2) %></h3>
<% end %>

<div class="veterinaries collection">
  <% @veterinaries.each do |veterinary| %>
    <div class="veterinary collection__item">
      <div class="collection__item-area1">
        <div class="name"><%= veterinary.name %></div>
        <div class="phone"><%= veterinary.phone %></div>
        <div class="email"><%= veterinary.email %></div>
      </div>

      <div class="collection__item-area2">
        <div class="veterinarians">
          <% veterinary.veterinarians.each do |veterinarian| %>
            <div class="veterinarian"><%= veterinarian.full_name %></div>
          <% end %>
        </div>
      </div>

      <div class="collection__item-area4">
        <%= link_to :arrow_forward, veterinary_path(veterinary), class: 'icon show collection__item-link' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to tag.i(:group_add, class: :icon), new_veterinary_path, { class: 'btn btn__floating', title: t(:new_resource, scope: [:common], resource: Veterinary.model_name.human) } %>
