<% content_for :breadcrumbs do %>
  <h3 class="top-bar__title"><%= Veterinary.model_name.human %> <%= @veterinary.name %></h3>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Veterinary.human_attribute_name(:name) %>:</strong>
  <%= @veterinary.name %>
</p>

<p>
  <strong><%= Veterinary.human_attribute_name(:phone) %>:</strong>
  <%= @veterinary.phone %>
</p>

<p>
  <strong><%= Veterinary.human_attribute_name(:email) %>:</strong>
  <%= @veterinary.email %>
</p>

<p>
  <strong><%= Veterinary.human_attribute_name(:veterinarians) %>:</strong>
  <%= @veterinary.veterinarians.map{|v| link_to v.full_name, v}.join(', ').html_safe %>
</p>

<%= link_to t(:edit_resource, scope: [:common], resource: Veterinary.model_name.human), edit_veterinary_path(@veterinary) %> |
<%= link_to t(:destroy_resource, scope: [:common], resource: Veterinary.model_name.human), @veterinary, method: :delete, data: { confirm: 'Are you sure?' } %>
