<% content_for :breadcrumbs do %>
  <%= link_to Veterinary.model_name.human(count: 2), veterinaries_path, { class: 'breadcrumbs__item' } %>
  <i class="breadcrumbs__separator icon">chevron_right</i>
  <h3 class="breadcrumbs__item"><%= @veterinary.name %></h3>
<% end %>

<div class="card">
  <div class="card__item">
    <label class="card__label"><%= Veterinary.human_attribute_name(:name) %></label>
    <%= @veterinary.name %>
  </div>

  <div class="card__item">
    <label class="card__label"><%= Veterinary.human_attribute_name(:phone) %></label>
    <%= @veterinary.phone %>
  </div>

  <div class="card__item">
    <label class="card__label"><%= Veterinary.human_attribute_name(:email) %></label>
    <%= @veterinary.email %>
  </div>

  <div class="card__item">
    <label class="card__label"><%= Veterinary.human_attribute_name(:veterinarians) %></label>
    <%= @veterinary.veterinarians.map{|v| link_to v.full_name, v}.join(', ').html_safe %>
  </div>

</div>

<%= link_to tag.i(:mode_edit, class: :icon), edit_veterinary_path(@veterinary), { class: 'btn btn__floating', title: t(:edit_resource, scope: [:common], resource: Veterinary.model_name.human) } %>
