<% content_for :breadcrumbs do %>
  <h3 class="top-bar__title"><%= Admission.model_name.human(count: 2) %></h3>
<% end %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= Admission.human_attribute_name(:petitioner_name) %></th>
      <th><%= Admission.human_attribute_name(:patient_name) %></th>
      <th><%= Admission.human_attribute_name(:species) %></th>
      <th><%= Admission.human_attribute_name(:breed) %></th>
      <th><%= Admission.human_attribute_name(:sex) %></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= link_to admission.petitioner_name, admission %></td>
        <td><%= link_to admission.patient_name, admission %></td>
        <td><%= t(admission.species, scope: [:activerecord, :attributes, :admission, :species]) %></td>
        <td><%= admission.breed %></td>
        <td><%= t(admission.sex, scope: [:activerecord, :attributes, :admission, :sex]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_resource, scope: [:common], resource: Admission.model_name.human), new_admission_path %>
