<% content_for :breadcrumbs do %>
  <h3 class="breadcrumbs__item breadcrumbs__item--active"><%= Admission.model_name.human(count: 2) %></h3>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Admission.human_attribute_name(:petitioner_name) %></th>
      <th><%= Admission.human_attribute_name(:patient_name) %></th>
      <th><%= Admission.human_attribute_name(:species) %></th>
      <th><%= Admission.human_attribute_name(:breed) %></th>
      <th><%= Admission.human_attribute_name(:sex) %></th>
      <th><%= Admission.human_attribute_name(:exams) %></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= link_to admission.petitioner_name, admission %></td>
        <td><%= link_to admission.patient_name, admission %></td>
        <td><%= t(admission.species, scope: [:activerecord, :attributes, :admission, :species]) %></td>
        <td><%= admission.breed %></td>
        <td><%= t(admission.sex, scope: [:activerecord, :attributes, :admission, :sex]) %></td>
        <td class="exams-count"><%= admission.exams&.count || 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag('icons/ic_add_white_24px.svg', alt: t(:new_resource, scope: [:common], resource: Admission.model_name.human)), new_admission_path, { class: 'btn btn__floating' } %>
