<% content_for :breadcrumbs do %>
  <h3 class="top-bar__title"><%= Admission.model_name.human %></h3>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Admission.human_attribute_name(:petitioner_name) %>:</strong>
  <%= admission_petitioner_link(@admission) %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:petitioner_phone) %>:</strong>
  <%= @admission.petitioner_phone %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:petitioner_email) %>:</strong>
  <%= @admission.petitioner_email %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:patient_name) %>:</strong>
  <%= @admission.patient_name %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:species) %>:</strong>
  <%= t(@admission.species, scope: [:activerecord, :attributes, :admission, :species]) %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:sex) %>:</strong>
  <%= t(@admission.sex, scope: [:activerecord, :attributes, :admission, :sex]) %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:breed) %>:</strong>
  <%= @admission.breed %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:age) %>:</strong>
  <%= @admission.age %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:owner_name) %>:</strong>
  <%= @admission.owner_name %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:comments) %>:</strong>
  <%= @admission.comments %>
</p>

<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
