<% content_for :breadcrumbs do %>
  <%= link_to Admission.model_name.human(count: 2), admissions_path, { class: 'breadcrumbs__item' } %>
  <span class="breadcrumbs__separator"></span>
  <h3 class="breadcrumbs__item"><%= @admission.id %></h3>
<% end %>

<p>
  <strong><%= Admission.human_attribute_name(:petitioner_name) %>:</strong>
  <%= admission_petitioner_link(@admission) %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:petitioner_phone) %>:</strong>
  <%= @admission.petitioner_phone %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:petitioner_email) %>:</strong>
  <%= @admission.petitioner_email %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:patient_name) %>:</strong>
  <%= @admission.patient_name %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:species) %>:</strong>
  <%= t(@admission.species, scope: [:activerecord, :attributes, :admission, :species]) %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:sex) %>:</strong>
  <%= t(@admission.sex, scope: [:activerecord, :attributes, :admission, :sex]) %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:breed) %>:</strong>
  <%= @admission.breed %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:age) %>:</strong>
  <%= @admission.age %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:owner_name) %>:</strong>
  <%= @admission.owner_name %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:comments) %>:</strong>
  <%= @admission.comments %>
</p>

<p>
  <strong><%= Admission.human_attribute_name(:exams) %>:</strong>
  <ul>
    <% @admission.exams&.each do |exam| %>
      <%= tag.li exam %>
    <% end %>
  </ul>
</p>

<%= link_to image_tag('icons/ic_mode_edit_white_24px.svg', alt: t(:edit_resource, scope: [:common], resource: Admission.model_name.human)), edit_admission_path(@admission), { class: 'btn btn__floating' } %>
