<div class="drawer">
  <nav class="nav">
    <%= nav_item_to admissions_path do %>
      <i class="icon nav__item-icon">event_note</i>
      <span class="nav__item-label"><%= Admission.model_name.human(count: 2) %></span>
    <% end %>
    <%= nav_item_to veterinaries_path do %>
      <i class="icon nav__item-icon">pets</i>
      <span class="nav__item-label"><%= Veterinary.model_name.human(count: 2) %></span>
    <% end %>
    <%= nav_item_to veterinarians_path do %>
      <i class="icon nav__item-icon">contacts</i>
      <span class="nav__item-label"><%= Veterinarian.model_name.human(count: 2) %></span>
    <% end %>
  </nav>
</div>
