<!DOCTYPE html>
<html>
  <head>
    <title>Guinea</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d85334">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="top-bar">
      <%= link_to image_tag('logo.svg'), root_path, class: 'top-bar__logo' %>
      <% if content_for? :breadcrumbs %>
        <div class="breadcrumbs">
          <span class="breadcrumbs__separator"></span>
          <%= yield :breadcrumbs %>
        </div>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'common/drawer' %>
    <%= render 'common/flash' %>
  </body>
</html>
